@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display :flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222c64;
}
.Box{
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;

}
.Box::before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
  transparent,#30cfd0,#330867);
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
}
.Box::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
  transparent,#30cfd0,#330867);
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
.borderLine{
  position: absolute;
  top: 0;
  inset: 0;
}
.borderLine::before
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
  transparent,#c471f5,#fa71cd);
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.borderLine::after
{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent,
  transparent,#c471f5,#fa71cd);
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.Box form {
  position: absolute;
  inset : 4px;
  padding: 50px 40px;
  border-radius: 8px;
  background: #222;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.Box form h2{
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.Box form .inputBox{
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.Box form .inputBox input{
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #23242a;
  letter-spacing: 0.05em;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  z-index: 10;
}
.Box form .inputBox span{
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.Box form .inputBox input:valid ~ span,
.Box form .inputBox input:focus ~ span
{
  color :#fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.Box form .inputBox i
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.Box form .inputBox input:valid ~ i,
.Box form .inputBox input:focus ~ i
{
  height: 44px;
}
.Box form .links {
  display: flex;
  justify-content: space-between;
}
.Box form .links a
{
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}
.Box form .links a:hover
.Box form .links a:nth-child(2)
{
  color: #fff;
}
.Box form input[type="submit"]
{
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}
.Box form input[type="submit"]:active
{
  opacity: 0.8;
}

